.masthead {
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

h1 {
    font-size: 4rem;
}

.color-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .masthead {
        min-height: 30vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
}