{% extends "snippets/base.html"  %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" type="text/css" href="{% static "blog/css/styles.css" %}">
{% endblock %}

{% block image %}
<div class="masthead"
      style="background-image: url('../../static/blog/img/banner_blog.png');">
          <div class="color-overlay d-flex flex-column justify-content-center align-items-center">
              <h1>Learning Django</h1>
        </div>
</div>
{% endblock %}

{% block bar %}
<h2>{{ title_bar}}</h2>
{% endblock %}

{% block header %}
<h1>{{ title_page}}</h1>
{% endblock %}

{% block content %}
<p>Welcome To the Blog Page Brozzz and Sizzz</p>
{% endblock %}

{% block content1 %}
<p>Content</p>
{% endblock %}