{% extends "snippets/base.html"  %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" type="text/css" href="{% static "blog/css/styles.css" %}">
{% endblock %}

{% block image %}
<div class="masthead"
      style="background-image: url('../../static/blog/img/banner_blog.png');">
          {% comment %}<div class="color-overlay d-flex flex-column justify-content-center align-items-center">
              <h1>Learning Django</h1>
        </div>{% endcomment %}
</div>
{% endblock %}

{% block bar %}
<h2>{{ title_bar}}</h2>
{% endblock %}

{% block header %}
<h1>{{ title_page}}</h1>
{% endblock %}

{% block content %}
 <ul class="nav">
      <li class="nav-item" style="color:darkslateblue;">

            <a style="color:darkslateblue;" class="nav-link" href="{% url "blog:index" %}">
               ALL POST
            </a>
        </li>
    {% for dataCategory in Kategories %}

        <li class="nav-item" style="color:darkslateblue;">

{#            <a style="color:darkslateblue;" class="nav-link" href="/blog/category/{{ dataCategory.category }}">#}
{#               {{ dataCategory.category }}#}
{#            </a>#}

            <a style="color:darkslateblue;" class="nav-link" href="{% url "blog:category" categoryInput="dataCategory.category" %}">
               {{ dataCategory.category }}
            </a>

        </li>


     {% endfor %}
    </ul>
{% endblock %}

{% block content1 %}
    {% for Post in Posts %}
        <a href="/blog/detail-post/{{ Post.slug }}" title="">
         <h1  style="color:darkslateblue;">{{ Post.title }}</h1>
        </a>

         <a href="/blog/category/{{ Post.category }}" title="">
         <h5  style="color:darkslateblue;">{{ Post.category }}</h5>
        </a>
    <h6>{{ Post.body | truncatechars:200 }}</h6>
        <h6>{{ Post.time_post }}</h6>
    {% endfor %}
    

{% endblock %}