{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
 <link rel="stylesheet" type="text/css" href="{% static app_css %}">
</head>
<body>
<img style="width:100%" src="{% static "blog/img/banner_blog.png" %}" alt="">

<nav>
    <ul>
        {% for link,name in nav %}
             <li>
             <a href="{{link}}" title="">{{ name }}</a>
             </li>
        {% endfor %}

    </ul>
</nav>

<h1>
    {{ title_bar }}
</h1>
<h2>
    {{ title_page}}
</h2>

<footer>
    <h4>Contributed By : {{ kontributor }}</h4>
</footer>
</body>
</html>