{% extends "snippets/base.html"  %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
{% endblock %}

{% block image %}
<div class="masthead"
      style="background-image: url('../static/img/background-image.jpg');">
          <div class="color-overlay d-flex flex-column justify-content-center align-items-center">
              <h1 >Learning Django</h1>
        </div>
</div>
{% endblock %}

{% block bar %}
<h2>{{ title_bar}}</h2>
{% endblock %}

{% block header %}
<h1>{{ title_page}}</h1>

{% endblock %}

{% block content %}
<p>Welcome To the Index Page Brozzz and Sizzz</p>
{% endblock %}

{% block content1 %}
<h2>
    <a style="color:darkslateblue;" class="nav-link" href="{% url "testbase" %}">
               Normal View
    </a>
</h2>

    <h2>
        <a style="color:darkslateblue;" class="nav-link" href="{% url "classbasedview" %}">
                   Test Class Based View
        </a>
    </h2>

    <h2>
        <a style="color:darkslateblue;" class="nav-link" href="{% url "templateview" %}">
                   Click Here for example of Template View
        </a>
    </h2>

{% endblock %}