<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>TEMPLATE VIEW TUTORIAL</h1>

<p>
    In Django we use Template View for static page,
    it means page doesn't have any inputs, outputs data, or no interaction
    users only see the information, such About Page where only
    display information. So we use Template View when we try to acces url the
    about pages the programs doesn't have to go first to view and then render
    the page in folder templates, however it directly render the the page in url
    by point out to the templates name
</p>
</body>
</html>