<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html>


{% extends "snippets/base.html"  %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
{% endblock %}

{% block image %}
<div class="masthead"
      style="background-image: url('../../static/about/img/banner_about.png');">
          <div class="color-overlay d-flex flex-column justify-content-center align-items-center">
              <h1 >Learning Django</h1>
        </div>
</div>
{% endblock %}

{% block bar %}
<h2>{{ title_bar}}</h2>
{% endblock %}

{% block header %}
<h1>{{ title_page}}</h1>

{% endblock %}

{% block content %}
<h1>INPUT FORM</h1>
     <form method="post">
    {% csrf_token %}
         <div class="form-group">
             {{ contact_form.name.label_tag }}
             {{ contact_form.name}}
         </div>
         <div class="form-group">
             
             {{ contact_form.gender.label_tag }}
             {% for genders in contact_form.gender %}
                 <div class="form-group-input">
					{{genders.tag}}
					<label for="{{genders.id_for_label}}">
						{{genders.choice_label}}
					</label>
				</div>

             {% endfor %}
         </div>

        <div class="form-group">
			{{contact_form.date_birth.label_tag}}
			<div class="form-row">
				{{contact_form.date_birth}}
			</div>

		</div>

     <div class="form-group">
			{{contact_form.email.label_tag}}
			{{contact_form.email}}
		</div>

		<div class="form-group">
			{{contact_form.address.label_tag}}
			{{contact_form.address}}
		</div>



        <div class="form-group">
			{{contact_form.agree_or_not.label_tag}}
			{{contact_form.agree_or_not}}
		</div>

     <table>
{#            {{ contact_form.as_table  }}#}
     </table>

    <br>
    <button type="submit">Submit</button>
</form>
{% endblock %}

{% block content1 %}
<h1>RESULT OF DATA INPUT : </h1>
    <h2>{{ name }}</h2>
    <h2>{{ gender }}</h2>
    <h2>{{ date_birth }}</h2>
    <h2>{{ address }}</h2>
    {% comment %}<h2>{{ pos_code }}</h2>
    <h2>{{ city }}</h2>
    <h2>{{ province }}</h2>{% endcomment %}
     <h2>{{ agree}}</h2>
{% endblock %}