<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html>


{% extends "snippets/base.html"  %}
{% load static %}

{% block app_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
{% endblock %}

{% block image %}
<div class="masthead"
      style="background-image: url('../../static/about/img/banner_about.png');">
          <div class="color-overlay d-flex flex-column justify-content-center align-items-center">
              <h1 >Learning Django</h1>
        </div>
</div>
{% endblock %}

{% block bar %}
<h2>{{ title_bar}}</h2>
{% endblock %}

{% block header %}
<h1>{{ title_page}}</h1>

{% endblock %}

{% block content %}
<h1>INPUT FORM</h1>
{% endblock %}

{% block content1 %}
 <form method="post">
    {% csrf_token %}
     <table>
            {{ contact_form.as_table  }}
     </table>

    <br>
    <button type="submit">Submit</button>
</form>
    <h2>{{ name }}</h2>
    <h2>{{ adress }}</h2>
{% endblock %}