{% extends "snippets/base.html"  %}

{% load static %}

{% block app_css %}
<link rel="stylesheet" type="text/css" href="{% static "about/css/styles.css" %}">
{% endblock %}

{% block image %}
<div class="masthead"
      style="background-image: url('../../static/about/img/banner_about.png');">
{% comment %}          <div class="color-overlay d-flex flex-column justify-content-center align-items-center">
              <h1>Learning Django</h1>
        </div>{% endcomment %}
</div>
{% endblock %}

{% block bar %}
    <ul>
    <li>
        <a href="{% url "blog:index" %}" title="">
        <h6  style="color:darkslateblue;">Blog</h6>
        </a>
    </li>
    <li>
        <a href="{% url "about:profile" %}" title="">
        <h6  style="color:darkslateblue;">Profile</h6>
        </a>
    </li>

    <li>
        <a href="{% url "about:misaun" %}" title="">
        <h6  style="color:darkslateblue;">Misaun</h6>
        </a>
    </li>

    <li>
        <a href="{% url "about:visaun" %}" title="">
        <h6  style="color:darkslateblue;">Visaun</h6>
        </a>
    </li>

    <li>
        <a href="{% url "about:special" input="love" %}" title="">
        <h6  style="color:darkslateblue;">Special Company</h6>
        </a>
    </li>
    </ul>

{% endblock %}

{% block header %}
<h1>{{ title_page}}</h1>
{% endblock %}

{% block content %}
<p>Welcome To the About Page Brozzz and Sizzz</p>
    <p>{{ object }}</p>
{% endblock %}

{% block content1 %}
  {% for foo in about %}
  <h1>{{ foo.profile }}</h1>
    <p>{{ foo.misaun  }}</p>
      <p>{{ foo.visaun }}</p>
      <p>{{ foo.service  }}</p>
  {% endfor %}


{% endblock %}